root = true

# All files
[*]
charset              = utf-8
indent_style         = tab
insert_final_newline = true

[*.{csproj,yml}]
indent_style = space
indent_size  = 2

[*.cs]
indent_size              = 4
trim_trailing_whitespace = true
