root = true

# All files
[*]
indent_style         = tab
insert_final_newline = true

# Csproj files
[*.csproj]
indent_style = space
indent_size  = 2

# Code files for C#
[*.{cs}]
charset                                                                  = utf-8-bom
indent_size                                                              = 4
trim_trailing_whitespace                                                 = true

# Organize usings
dotnet_sort_system_directives_first                                      = false

# this. preferences
dotnet_style_qualification_for_field                                     = false : suggestion
dotnet_style_qualification_for_event                                     = false : suggestion
dotnet_style_qualification_for_method                                    = false : suggestion
dotnet_style_qualification_for_property                                  = false : suggestion

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members               = true : silent
dotnet_style_predefined_type_for_member_access                           = true : silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators                  = never_if_unnecessary : suggestion
dotnet_style_parentheses_in_other_binary_operators                       = never_if_unnecessary : suggestion
dotnet_style_parentheses_in_other_operators                              = never_if_unnecessary : suggestion
dotnet_style_parentheses_in_relational_binary_operators                  = never_if_unnecessary : suggestion

# Modifier preferences
dotnet_style_readonly_field                                              = true : warning
dotnet_style_require_accessibility_modifiers                             = for_non_interface_members : suggestion

# Expression-level preferences
dotnet_style_coalesce_expression                                         = true : suggestion
dotnet_style_collection_initializer                                      = true : warning
dotnet_style_explicit_tuple_names                                        = true : warning
dotnet_style_null_propagation                                            = true : suggestion
dotnet_style_object_initializer                                          = true : warning
dotnet_style_prefer_auto_properties                                      = true : silent
dotnet_style_prefer_conditional_expression_over_assignment               = true : silent
dotnet_style_prefer_conditional_expression_over_return                   = true : silent
dotnet_style_prefer_inferred_anonymous_type_member_names                 = true : suggestion
dotnet_style_prefer_inferred_tuple_names                                 = true : suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method         = true : silent

# Style definitions
dotnet_naming_style.instance_field_style.capitalization                  = camel_case
dotnet_naming_style.pascal_case_style.capitalization                     = pascal_case

# Use PascalCase with I prefix for interfaces
dotnet_naming_symbols.interface_type_symbol.applicable_kinds             = interface
dotnet_naming_style.interface_type_style.capitalization                  = pascal_case
dotnet_naming_style.interface_type_style.required_prefix                 = I
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.severity      = warning
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.symbols       = interface_type_symbol
dotnet_naming_rule.interface_types_must_be_prefixed_with_I.style         = interface_type_style

# Use camelCase for parameters
dotnet_naming_symbols.parameter_symbol.applicable_kinds                  = parameter
dotnet_naming_style.parameter_style.capitalization                       = camel_case
dotnet_naming_rule.parameters_are_camel_case.severity                    = warning
dotnet_naming_rule.parameters_are_camel_case.symbols                     = parameter_symbol
dotnet_naming_rule.parameters_are_camel_case.style                       = parameter_style

# Use PascalCase for methods
dotnet_naming_symbols.method_symbol.applicable_kinds                     = method
dotnet_naming_style.method_style.capitalization                          = pascal_case
dotnet_naming_rule.methods_are_pascal_case.severity                      = warning
dotnet_naming_rule.methods_are_pascal_case.symbols                       = method_symbol
dotnet_naming_rule.methods_are_pascal_case.style                         = method_style

# Use PascalCase for constant fields with an accessibility of internal or higher
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity        = warning
dotnet_naming_rule.constant_fields_should_be_pascal_case.style           = pascal_case_style
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols         = constant_fields
dotnet_naming_symbols.constant_fields.applicable_accessibilities         = public,protected_internal,internal
dotnet_naming_symbols.constant_fields.applicable_kinds                   = field
dotnet_naming_symbols.constant_fields.required_modifiers                 = const

# Use PascalCase for static fields with an accessibility of internal or higher
dotnet_naming_rule.static_fields_should_be_pascal_case.severity          = warning
dotnet_naming_rule.static_fields_should_be_pascal_case.style             = pascal_case_style
dotnet_naming_rule.static_fields_should_be_pascal_case.symbols           = static_fields
dotnet_naming_symbols.static_fields.applicable_accessibilities           = public,protected_internal,internal
dotnet_naming_symbols.static_fields.applicable_kinds                     = field
dotnet_naming_symbols.static_fields.required_modifiers                   = static

# Use camelCase with _ prefix for instance fields
dotnet_naming_rule.instance_fields_should_be_camel_case.severity         = warning
dotnet_naming_rule.instance_fields_should_be_camel_case.style            = instance_field_style
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols          = instance_fields
dotnet_naming_symbols.instance_fields.applicable_kinds                   = field
dotnet_naming_rule.public_members_must_be_capitalized.severity           = warning
dotnet_naming_rule.public_members_must_be_capitalized.style              = first_word_upper_case_style
dotnet_naming_style.first_word_upper_case_style.capitalization           = first_word_upper
dotnet_naming_style.instance_field_style.required_prefix                 = _
dotnet_naming_symbols.public_symbols.applicable_accessibilities          = public
dotnet_naming_symbols.public_symbols.applicable_kinds                    = property,method,field,event,delegate
dotnet_naming_symbols.public_symbols.required_modifiers                  = readonly

# var preferences
csharp_style_var_elsewhere                                               = false : warning
csharp_style_var_for_built_in_types                                      = false : warning
csharp_style_var_when_type_is_apparent                                   = false : warning

# Expression-bodied members
csharp_style_expression_bodied_accessors                                 = true : silent
csharp_style_expression_bodied_constructors                              = false : silent
csharp_style_expression_bodied_indexers                                  = true : silent
csharp_style_expression_bodied_methods                                   = false : silent
csharp_style_expression_bodied_operators                                 = false : silent
csharp_style_expression_bodied_properties                                = true : silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check                    = true : suggestion
csharp_style_pattern_matching_over_is_with_cast_check                    = true : suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call                                   = true : suggestion
csharp_style_throw_expression                                            = true : suggestion

# Modifier preferences
csharp_preferred_modifier_order                                          = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async : suggestion

# Expression-level preferences
csharp_prefer_braces                                                     = true : silent
csharp_prefer_simple_default_expression                                  = true : suggestion
csharp_style_deconstructed_variable_declaration                          = true : warning
csharp_style_inlined_variable_declaration                                = true : suggestion
csharp_style_pattern_local_over_anonymous_function                       = true : suggestion

# New line preferences
csharp_new_line_before_catch                                             = true
csharp_new_line_before_else                                              = true
csharp_new_line_before_finally                                           = true
csharp_new_line_before_members_in_anonymous_types                        = true
csharp_new_line_before_members_in_object_initializers                    = true
csharp_new_line_before_open_brace                                        = all
csharp_new_line_between_query_expression_clauses                         = true

# Indentation preferences
csharp_indent_case_contents                                              = true
csharp_indent_labels                                                     = flush_left
csharp_indent_switch_labels                                              = true

# Space preferences
csharp_space_after_cast                                                  = false
csharp_space_after_colon_in_inheritance_clause                           = true
csharp_space_after_keywords_in_control_flow_statements                   = true
csharp_space_around_binary_operators                                     = before_and_after
csharp_space_before_colon_in_inheritance_clause                          = true
csharp_space_between_method_call_empty_parameter_list_parentheses        = false
csharp_space_between_method_call_name_and_opening_parenthesis            = false
csharp_space_between_method_call_parameter_list_parentheses              = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses       = false
csharp_space_between_parentheses                                         = false

# Wrapping preferences
csharp_preserve_single_line_blocks                                       = true
csharp_preserve_single_line_statements                                   = true

# CSC warning suppressions when XML documentation is enabled

# CS1591: Missing XML comment for publicly visible type or member.

dotnet_diagnostic.CS1591.severity                                        = none

# StyleCopAnalyzers suppressions

# SA1000: The keyword 'new' should be followed by a space. (C# 9)
# SA1003: Operator should be preceded by whitespace. (C# 9)
# SA1008: Opening parenthesis should be preceded by a space. (C# 9)
# SA1027: Replace tabs with spaces.
# SA1101: Prefix local calls with this.
# SA1124: Do not use regions.
# SA1200: Using directive should appear within a namespace declaration.
# SA1202: Elements should be ordered by access.
# SA1204: Static members should appear before non-static members.
# SA1208: Using directive for 'System' should appear first.
# SA1214: Readonly fields should appear before non-readonly fields.
# SA1303: Const field names should begin with upper-case letter.
# SA1309: Field should not begin with an underscore.
# SA1311: Static readonly fields should begin with upper-case letter.
# SA1407: Arithmetic expressions should declare precedence.
# SA1408: Conditional expressions should declare precedence.
# SA1503: Braces should not be omitted.
# SA1516: Elements should be separated by blank line.
# SA1600: Elements should be documented.
# SA1601: Partial elements should be documented.
# SA1602: Enumeration items should be documented.
# SA1611: Element parameters value should be documented.
# SA1615: Element return value should be documented.
# SA1623: The property's documentation summary text should begin with: 'Gets'.
# SA1633: The file header is missing or not located at the top of the file.
# SA1642: Constructor summary documentation should begin with standard text.

dotnet_diagnostic.SA1000.severity                                        = none
dotnet_diagnostic.SA1003.severity                                        = none
dotnet_diagnostic.SA1008.severity                                        = none
dotnet_diagnostic.SA1027.severity                                        = none
dotnet_diagnostic.SA1101.severity                                        = none
dotnet_diagnostic.SA1124.severity                                        = none
dotnet_diagnostic.SA1200.severity                                        = none
dotnet_diagnostic.SA1202.severity                                        = none
dotnet_diagnostic.SA1204.severity                                        = none
dotnet_diagnostic.SA1208.severity                                        = none
dotnet_diagnostic.SA1214.severity                                        = none
dotnet_diagnostic.SA1303.severity                                        = none
dotnet_diagnostic.SA1309.severity                                        = none
dotnet_diagnostic.SA1311.severity                                        = none
dotnet_diagnostic.SA1407.severity                                        = none
dotnet_diagnostic.SA1408.severity                                        = none
dotnet_diagnostic.SA1503.severity                                        = none
dotnet_diagnostic.SA1516.severity                                        = none
dotnet_diagnostic.SA1600.severity                                        = none
dotnet_diagnostic.SA1601.severity                                        = none
dotnet_diagnostic.SA1602.severity                                        = none
dotnet_diagnostic.SA1611.severity                                        = none
dotnet_diagnostic.SA1615.severity                                        = none
dotnet_diagnostic.SA1623.severity                                        = none
dotnet_diagnostic.SA1633.severity                                        = none
dotnet_diagnostic.SA1642.severity                                        = none

# StyleCopAnalyzers suppressions when using NRT

# SA1009: Closing parenthesis should be followed by a space.
# SA1011: Closing square bracket should be followed by a space.

dotnet_diagnostic.SA1009.severity                                        = none
dotnet_diagnostic.SA1011.severity                                        = none

# SonarAnalyzers suppressions

# S112: 'System.Exception' should not be thrown by user code.
# S2368: Make this method private or simplify its parameters to not use multidimensional arrays.
# S3358: Extract this nested ternary operation into an independent statement.

dotnet_diagnostic.S112.severity                                          = none
dotnet_diagnostic.S2368.severity                                         = none
dotnet_diagnostic.S3358.severity                                         = none

# C# 9 suppressions

# S1144: Unused private types or members should be removed.
# S3358: This class can't be instantiated; make its constructor 'public'.

dotnet_diagnostic.S1144.severity                                         = none
dotnet_diagnostic.S3453.severity                                         = none

# RoslynatorAnalyzers suppressions

# RCS1090: Call 'ConfigureAwait(false)'.
# RCS1123: Add parentheses when necessary.

dotnet_diagnostic.RCS1090.severity                                       = none
dotnet_diagnostic.RCS1123.severity                                       = none
